<!DOCTYPE html>
<html>
<head>
    <% include ../layouts/HTMLHead.ejs %>


</head>
<body>
<% include ../layouts/header.ejs %>
<% include ../layouts/slider.ejs %>
<section id="IndexCont01">
    <article class="Winth1200">
        <article class="ProductCont">
            <nav id="InsideNav" style="height: 142px;">
                <a href="home">公司公告</a>
                <a href="News" class="Hover">公司新闻</a>
                <a href="Activity">微信活动</a>

            </nav>
            <section id="ArticleCont">
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="xiangqing" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路 </p>
                </div>
            </section>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>

<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="../home" id="NavAboutus" class="fl">首页</a>
            <a href="../about/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="../xinwen/home" id="NavMark" class="fl">最新资讯</a>
            <a href="../shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="../goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="../Job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="../comment/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="../lianxi/home" id="NavCul" class="fr">联系我们</a>a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="../login/guanliyuan" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a></p>
    </article>
</footer>

</body>
</html>