<!DOCTYPE html>
<html>
<head>
    <% include ../layouts/HTMLHead.ejs %>

</head>
<body>
<% include ../layouts/header.ejs %>
<% include ../layouts/slider.ejs %>

<section id="IndexCont01">
    <article class="Winth1200">
        <article class="ProductCont">
            <nav id="InsideNav" style="height: 142px;">
                <a href="home" class="Hover">公司公告</a>
                <a href="News">公司新闻</a>
                <a href="Activity">微信活动</a>

            </nav>
            <section id="ArticleCont">
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="xiangqing" target="_blank" class="Title">厨匠股份：2017年度募集资金存放与使用情况专项报告</a>
                    <p class="Cont">
                        厨匠股份：2017年度募集资金存放与使用情况专项报告 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="" target="_blank" class="Title">厨匠股份：2017年年度报告</a>
                    <p class="Cont">
                        厨匠股份：2017年年度报告 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="" target="_blank" class="Title">厨匠股份：2017年年度报告摘要</a>
                    <p class="Cont">
                        厨匠股份：2017年年度报告摘要 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="" target="_blank" class="Title">厨匠股份：2017年度监事会工作报告</a>
                    <p class="Cont">
                        厨匠股份：2017年度监事会工作报告 </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="" target="_blank" class="Title">厨匠股份：2017年度内部控制评价报告</a>
                    <p class="Cont">
                        厨匠股份：2017年度内部控制评价报告 </p>
                </div>
            </section>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>
<% include ../layouts/footer.ejs %>

</body>
</html>