<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="/" id="NavAboutus" class="fl">首页</a>
            <a href="/about/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="/news/home" id="NavMark" class="fl">最新资讯</a>
            <a href="/shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="/goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="/job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="/comment/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="/contact/home" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="/admin/home" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a></p>
    </article>
</footer>