<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="/auth/login" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span></a></p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="/home" id="NavAboutus" class="fl"></a>
            <a href="/about/home" id="NavNews" class="fl"></a>
            <a href="/news/home" id="NavMark" class="fl"></a>
            <a href="/shop/home" id="NavCat" class="fl"></a>

            <a href="/contact/home" id="NavBus" class="fr"></a>
            <a href="/comment/home" id="NavMess" class="fr"></a>
            <a href="/job/home" id="NavStaff" class="fr"></a>
            <a href="/goods/home" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="/img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>