<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="呵呵">
<meta name="description" content="哈哈">
<title>厨匠</title>
<link type="text/css" rel="stylesheet" href="/css/index.css">
<link type="text/css" rel="stylesheet" href="/css/Cleardefault.css">
<link type="text/css" rel="stylesheet" href="/css/slide.css">
<link type="text/css" rel="stylesheet" href="/css/Inside.css">
<script src="/js/JL.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7/html5shiv.js"></script><![endif]-->