<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="呵呵">
<meta name="description" content="哈哈">
<title>厨匠</title>
<link type="text/css" rel="stylesheet" href="../css/index.css">
<link type="text/css" rel="stylesheet" href="../css/Cleardefault.css">
<link type="text/css" rel="stylesheet" href="../css/slide.css">
<link type="text/css" rel="stylesheet" href="../css/Inside.css">
<script src="../js/CJSP.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/4.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="../login/login" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span></a></p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="../home" id="NavAboutus" class="fl"></a>
            <a href="../about/home" id="NavNews" class="fl"></a>
            <a href="../xinwen/home" id="NavMark" class="fl"></a>
            <a href="../shop/home" id="NavCat" class="fl"></a>

            <a href="../lianxi/home" id="NavBus" class="fr"></a>
            <a href="../comment/home" id="NavMess" class="fr"></a>
            <a href="../Job/home" id="NavStaff" class="fr"></a>
            <a href="../goods/home" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="../img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<!-- slide end --><section id="IndexCont01">
    <article id="NewsList">
        <div class="Clean"></div>
                <article style="padding-left:20px;">
            <span class="SlideTime">2017/03/22</span>
            <h2><a href="Charge">财务部门经理</a></h2>
            <p><a href="Charge">1、财务会计专科及以上学历；2、有6年以上工业企业财务会计工作经验，2年以上同等...</a></p>
        </article>
                <article style="padding-left:20px;">
            <span class="SlideTime">2017/03/22</span>
            <h2><a href="Sale">销售主管</a></h2>
            <p><a href="Sale">1、专科及以上学历，3年以上所属行业销售工作经验，有丰富行业资源者优先；2、熟悉...</a></p>
        </article>
                <div class="Clean"></div>
    </article>
    <article id="Page">
    	<a href="javascript:void(0)" class="PageBack">&nbsp;</a><a class="Onfocus">1</a><a href="javascript:void(0)" class="PageNext">&nbsp;</a>    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>


<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="../home" id="NavAboutus" class="fl">首页</a>
            <a href="../about/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="../xinwen/home" id="NavMark" class="fl">最新资讯</a>
            <a href="../shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="../goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="../Job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="../comment/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="../lianxi/home" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="../login/guanliyuan" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a>        </p>
    </article>
</footer>

</body></html>