<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="呵呵">
<meta name="description" content="哈哈">
<title>厨匠</title>
<link type="text/css" rel="stylesheet" href="../css/index.css">
<link type="text/css" rel="stylesheet" href="../css/Cleardefault.css">
<link type="text/css" rel="stylesheet" href="../css/slide.css">
<link type="text/css" rel="stylesheet" href="../css/Inside.css">
<script src="../js/CJSP.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/4.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="../login/login" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span></a></p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="home" id="NavAboutus" class="fl"></a>
            <a href="../about/home" id="NavNews" class="fl"></a>
            <a href="../xinwen/home" id="NavMark" class="fl"></a>
            <a href="../shop/home" id="NavCat" class="fl"></a>

            <a href="../lianxi/home" id="NavBus" class="fr"></a>
            <a href="../comment/home" id="NavMess" class="fr"></a>
            <a href="../Job/home" id="NavStaff" class="fr"></a>
            <a href="../goods/home" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="../img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<div class="slide">
	<div class="bd" style="height: 401.262px;">
		<ul style="position: relative; width: 1466px; height: 402px;">
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				            	<img src="../img/banner1.jpg" width="100%">
                            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="" target="_blank">            	<img src="../img/banner1.jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px;">
				<a href="">            	<img src="../img/banner2 .jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="">            	<img src="../img/banner3.jpg" width="100%">
                </a>            </li>
        		</ul>
	</div>
	<div class="hd"><ul><li class="">1</li><li class="">2</li><li class="on">4</li><li>4</li></ul></div>
</div>
<script type="text/javascript">
//比例 * 高度
var h = ($(window).width() / 1920) * 564;
$(".slide .bd").css("height", h);
$(".slide .bd ul li").css("height", h);

jQuery(".slide").slide({
	titCell : ".hd ul",
	mainCell : ".bd ul",
	effect : "fold",
	autoPlay : true,
	autoPage : true,
	interTime : 5000
});
</script>
<!-- slide end -->
<section id="IndexCont01">
	<article class="Winth1200">
        <article class="ProductCont">
        	<nav id="InsideNav">
                        	<a href="Charge" >财务部门经理</a>
                        	<a href="Sale" class="Hover">销售主管</a>
            </nav>
            <section id="ArticleCont" style="min-height:500px;">
                <span id="TitleDecorative">newstitle:</span>
                <article id="DetailsPage">
                    						<a href="?c=job&a=show&id=1" id="DetailsPagePrev" title="上一篇"></a>
											<a href="?c=job&a=show&id=8" id="DetailsPageNext" title="下一篇"></a>
					                </article>
                <h1 id="DetailsH">销售主管</h1>
                <article id="ArticleDetailsTime">发布日期：<time pubdate="pubdate" datetime="2016-03-22">2016-03-22</time></article>
                <section id="DetailsContent">
                    <p><span style="font-size: 14px;"><span style="font-family: Simsun; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">1</span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">、专科及以上学历，</span><span style="font-family: Simsun; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">3</span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">年以上所属行业销售工作经验，有丰富行业资源者优先；</span><span style="font-family: Simsun; color: rgb(102, 102, 102);"><br/> <span style="background: rgb(249, 249, 249);">2</span></span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">、熟悉所属行业的运作模式、营销模式，具备丰富的行业销售经验及销售管理经验；</span><span style="font-family: Simsun; color: rgb(102, 102, 102);"><br/> <span style="background: rgb(249, 249, 249);">3</span></span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">、负责区域市场年度销售目标的制定；制定与实施部门行业销售计划，完成销售目标；</span><span style="font-family: Simsun; color: rgb(102, 102, 102);"><br/> <span style="background: rgb(249, 249, 249);">4</span></span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">、具备较强的沟通能力，负责区域重点客户及渠道的维护与管理；</span><span style="font-family: Simsun; color: rgb(102, 102, 102);"><br/> <span style="background: rgb(249, 249, 249);">5</span></span><span style="font-family: 宋体; color: rgb(102, 102, 102); background: rgb(249, 249, 249);">、组建销售队伍，培训销售人员；评估销售业绩，建设销售团队。能适应出差。</span></span></p><p><br/></p>                </section>
            </section>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>

<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="../home" id="NavAboutus" class="fl">首页</a>
            <a href="../about/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="../xinwen/home" id="NavMark" class="fl">最新资讯</a>
            <a href="../shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="../goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="../Job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="../comment/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="../lianxi/home" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="../login/guanliyuan" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a>        </p>
    </article>
</footer>

</body></html>