<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="呵呵">
    <meta name="description" content="哈哈">
    <title>厨匠</title>
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <link type="text/css" rel="stylesheet" href="css/Cleardefault.css">
    <link type="text/css" rel="stylesheet" href="css/slide.css">
    <link type="text/css" rel="stylesheet" href="css/Inside.css">
    <script src="js/JL.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/3.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="logo.html" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span><a href="http://irm.p5w.net/ssgs/S002495/companySecret.html" style="color:#EEEEEE;" target="_blank"><img src="img/email.png" width="29" height="29"><span>企业信箱</span></a><a href="http://www.gdjlfood.com/?c=message" style="color:#EEEEEE;"><img src="img/tel.png" width="29" height="29"><span>客户留言</span></a>
        </p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="#" id="NavAboutus" class="fl"></a>
            <a href="" id="NavNews" class="fl"></a>
            <a href="?c=video" id="NavMark" class="fl"></a>
            <a href="?c=info" id="NavCat" class="fl"></a>

            <a href="?c=contact" id="NavBus" class="fr"></a>
            <a href="?c=news&type=3" id="NavMess" class="fr"></a>
            <a href="?c=news&type=1" id="NavStaff" class="fr"></a>
            <a href="?c=job" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<div class="slide">
    <div class="bd" style="height: 401.262px;">
        <ul style="position: relative; width: 1366px; height: 402px;">
            <li style="height: 401.262px; position: absolute; width: 1366px; left: 0px; top: 0px; display: none;">
                <img src="img/banner1.jpg" width="100%">
            </li>
            <li style="height: 401.262px; position: absolute; width: 1366px; left: 0px; top: 0px; display: none;">
                <a href="http://jialonggufen.1688.com/" target="_blank">            	<img src="img/banner1.png" width="100%">
                </a>            </li>
            <li style="height: 401.262px; position: absolute; width: 1366px; left: 0px; top: 0px;">
                <a href="http://jialong.yaxinw.com/?c=product&amp;a=show&amp;id=31" target="_blank">            	<img src="img/banner2 .jpg" width="100%">
                </a>            </li>
            <li style="height: 401.262px; position: absolute; width: 1366px; left: 0px; top: 0px; display: none;">
                <a href="http://jialong.yaxinw.com/?c=product&amp;a=show&amp;id=30" target="_blank">            	<img src="img/banner3.jpg" width="100%">
                </a>            </li>
        </ul>
    </div>
    <div class="hd"><ul><li class="">1</li><li class="">2</li><li class="on">3</li><li>4</li></ul></div>
</div>
<script type="text/javascript">
  //比例 * 高度
  var h = ($(window).width() / 1920) * 564;
  $(".slide .bd").css("height", h);
  $(".slide .bd ul li").css("height", h);

  jQuery(".slide").slide({
    titCell : ".hd ul",
    mainCell : ".bd ul",
    effect : "fold",
    autoPlay : true,
    autoPage : true,
    interTime : 5000
  });
</script>
<!-- slide end --><section id="IndexCont01">
    <article class="Winth1200">
        <article id="IndexInfo">
            <a href="#" class="BackTop"></a>
            <section id="IndexPost">
                <header><a href="http://www.gdjlfood.com/?c=news&amp;type=1">更多 &gt;</a></header>
                <ul>
                    <li><a href="" target="_blank" title="厨匠集团：2016年年度报告">厨匠集团：2016年年度报告</a><time pubdate="2017-03-11">2017-03-11</time></li>
                    <li><a href="" target="_blank" title="厨匠集团：2016年年度报告">厨匠集团：2016年年度报告</a><time pubdate="2017-03-11">2017-03-11</time></li>
                    <li><a href="" target="_blank" title="厨匠集团：2016年年度报告">厨匠集团：2016年年度报告</a><time pubdate="2017-03-11">2017-03-11</time></li>
                    <li><a href="" target="_blank" title="厨匠集团：2016年年度报告">厨匠集团：2016年年度报告</a><time pubdate="2017-03-11">2017-03-11</time></li>
                    <li><a href="" target="_blank" title="厨匠集团：2016年年度报告">厨匠集团：2016年年度报告</a><time pubdate="2017-03-11">2017-03-11</time></li>
                </ul>
            </section>
            <section id="IndexNews">
                <header><a href="http://www.gdjlfood.com/?c=news&amp;type=2">更多 &gt;</a></header>
                <ul>
                    <li><a href="http://www.gdjlfood.com/?c=news&amp;a=show&amp;id=215" title="2016年厨匠集团※南海学习交流月">2016年厨匠集团※南海学习交流月</a><time pubdate="2016-10-01">2016-10-01</time></li>
                    <li><a href="http://www.gdjlfood.com/?c=news&amp;a=show&amp;id=179" title="展魅力扬风采 做新时代女性——记厨匠职工欢庆“三•八”国际妇女节">展魅力扬风采 做新时代女性——记厨匠职工欢庆“三•八”国际妇女节</a><time pubdate="2016-03-08">2016-03-08</time></li>
                    <li><a href="http://www.gdjlfood.com/?c=news&amp;a=show&amp;id=178" title="味蕾全开！普宁首家厨匠食品综合体验馆开业！">味蕾全开！普宁首家厨匠食品综合体验馆开业！</a><time pubdate="2016-02-21">2016-02-21</time></li>
                    <li><a href="http://www.gdjlfood.com/?c=news&amp;a=show&amp;id=177" title="改革创新，迎接挑战——记厨匠集团2015年年度总结大会暨2016年新春团拜会">改革创新，迎接挑战——记厨匠集团2015年年度总结大会暨2016年新春...</a><time pubdate="2016-01-21">2016-01-21</time></li>
                    <li><a href="http://www.gdjlfood.com/?c=news&amp;a=show&amp;id=174" title="四川省地税局局长吴紫骊一行到我司参观调研">四川省地税局局长吴紫骊一行到我司参观调研</a><time pubdate="2015-12-15">2015-12-15</time></li>
                </ul>
            </section>
            <section id="IndexNews">
                <header style="background:url(img/infotitle04.gif) no-repeat;&gt;"><a href="http://www.gdjlfood.com/?c=news&amp;type=4">更多 &gt;</a></header>
                <ul>
                    <li><a href="http://mp.weixin.qq.com/s?__biz=MzAxMzAxNDA4MA==&amp;mid=400296066&amp;idx=1&amp;sn=2e6cf174c26f79497b43055fa22fbeaa#wechat_redirect" target="_blank" title="忍不住了！双11剁手血拼攻略大披露！">忍不住了！双11剁手血拼攻略大披露！</a><time pubdate="2015-10-30">2015-10-30</time></li>
                    <li><a href="http://mp.weixin.qq.com/s?__biz=MzAxMzAxNDA4MA==&amp;mid=400296066&amp;idx=5&amp;sn=cfc2d612dc55271746601c985951d33f#wechat_redirect" target="_blank" title="【佳味菜谱】听说是最省事的一道肉食">【佳味菜谱】听说是最省事的一道肉食</a><time pubdate="2015-10-30">2015-10-30</time></li>
                    <li><a href="http://mp.weixin.qq.com/s?__biz=MzAxMzAxNDA4MA==&amp;mid=400296066&amp;idx=2&amp;sn=f81b7505233ddddab16c4b1652aa0bc8#wechat_redirect" target="_blank" title="厨匠情，美味香——尝一口爱的酱味">厨匠情，美味香——尝一口爱的酱味</a><time pubdate="2015-10-30">2015-10-30</time></li>
                    <li><a href="http://mp.weixin.qq.com/s?__biz=MzAxMzAxNDA4MA==&amp;mid=400296066&amp;idx=4&amp;sn=e913bc971ee294c7736607d91aaf27fc#wechat_redirect" target="_blank" title="青出于蓝？厨匠番茄酱PK蕃茄！">青出于蓝？厨匠番茄酱PK蕃茄！</a><time pubdate="2015-10-30">2015-10-30</time></li>
                    <li><a href="http://mp.weixin.qq.com/s?__biz=MzAxMzAxNDA4MA==&amp;mid=400055118&amp;idx=3&amp;sn=1061d1e8e93e797ef09739dc96d6aebb#rd" target="_blank" title="【扫盲贴】酸甜苦辣咸，谁说调味品只能按照味道分类？">【扫盲贴】酸甜苦辣咸，谁说调味品只能按照味道分类？</a><time pubdate="2015-10-30">2015-10-30</time></li>
                </ul>
            </section>
        </article><!--厨匠公告end-->
        <article id="AboutUs">
            <header>
                <a href="#" class="BackTop"></a>
                <a href="2.mp4" class="TitleMore"></a>
            </header>
            <div style="display:block;">
                <div id="flashcontent" style="width:556px; height:313px; margin:0 auto; background-color:#333333;">
                    <video src="BlackisBetter - Elsa Jean (Pretty Theft) 03.28.17 720p.mp4" controls="controls"  height="313px" width="556px" preload="auto"></video>
                </div>
                <article id="AboutUsCont">
                    <p>
                        <a href="http://www.gdjlfood.com/?c=about"><img src="img/logo.png" alt="四川厨匠食品股份有限公司" style="width:150px; float:left;"></a>

                        &nbsp;&nbsp;&nbsp;&nbsp;四川厨匠食品股份有限公司是一家集食品科研开发、生产、销售为一体的民营股份制企业。被四川省评为重点农业龙头企业、四川省高新技术企业。现有拥有高素质的营销精英团队，驻外机构50多个，产品畅销全国各省市，是四川省揭阳市重点扶持的民营科技企业。<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;“厨匠人”以振兴民族工业为己任，坚持以科技进步为核心，走做精、做强、做久的发展道路，坚定不移的实施品牌战略和资本战略。积极参与鸡精、鸡粉、鸡汁行业标准的制订工作，在行业中，率先执行鸡精、鸡粉、鸡汁行业标准，采用优质的鲜鸡肉和科学配方研制出具有丰富营养、味道鲜美的鸡精、鸡粉，为广大消费者提供安全、卫生、营养的美食享受。
                    </p>
                    <a href="http://www.gdjlfood.com/?c=about" id="IndexAboutMore">点击了解详情</a>
                </article>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>

<section id="IndexWenhua">
    <a href="http://www.gdjlfood.com/?c=pic" id="HonorMore"></a>
    <section id="IndexSpirit">
        <p style="font-size:12px; line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;实，体现了企业的实干、诚实的精神。我们要脚踏实地，不浮夸、不急躁，做好身边每件事，在对待问题上要有查实、求实的态度，对待工作要讲究实事求是，用实绩说话；对待他人要诚实、真心实意，讲实话，做实事；对待生活要朴实、不浪费、不奢侈。</p><p>

        </p><p style="font-size:12px; line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;闯，体现了企业的艰苦奋斗，勇往直前的精神。象一匹冲出城门的千里马，不愄艰难险阻，荆棘之途。作为厨匠人要有一股闯劲，作一个走南闯北的闯将。我们可以从董事长林平涛先生身上看到这种精神。董事长在创业期间凭的就是一股不服输的闯劲，走南闯北成就今天厨匠辉煌的事业。</p>

        <p style="font-size:12px; line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;新，就是刚出现，或者说是从来没有的，体现了企业的敢于创新、尝新、革新的精神。正因为有这种精神，厨匠才能够研制出中国第一罐玉米粳；有了这种精神，厨匠承办了首届中国调味品论坛峰会；有了这种精神，我们创造了许许多多营销神话。</p>

        <p style="font-size:12px; line-height:28px;">&nbsp;&nbsp;&nbsp;&nbsp;速，就是快速、迅速、兵贵神速的意思。体现了企业雷历风行的办事作风。有人说，商场如战场，那么，时间就是生命，殆误战机将会造成重大伤亡，丢失阵地。所以，我们在对待市场问题的时候，要及时反映，快速处理，不然就会积少成多，由小变大，事情会变得越来越难办。为了提高我们的办事速度和效率，公司引进现代化的OA办公管理系统，改变原来纸上申请和纸上签名，实现无纸化办公，大大提高公司的办事效率。...<a href="http://www.gdjlfood.com/?c=info">[更多]</a></p>
    </section>
    <section id="IndexHonor">
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=27" class="HonorImg"><img src="img/201603211805042631.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=27" class="Name">农业产业化国家重点龙头企业</a>
        </article>
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=20" class="HonorImg"><img src="img/201603151028494410.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=20" class="Name">高新技术企业证书2015</a>
        </article>
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=22" class="HonorImg"><img src="img/201603211750373943.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=22" class="Name">2014-2017四川省创新型企业</a>
        </article>
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=30" class="HonorImg"><img src="img/201603211806566504.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=30" class="Name">家丰鸡粉：高新技术产品证书2015</a>
        </article>
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=29" class="HonorImg"><img src="img/201603211806091481.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=29" class="Name">醇真鸡粉系列:：高新技术产品证书2015</a>
        </article>
        <article>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=31" class="HonorImg"><img src="img/201603211807499693.jpg" width="172" height="106"></a>
            <a href="http://www.gdjlfood.com/?c=pic&amp;a=show&amp;id=31" class="Name">普宁市科技进步奖一等奖</a>
        </article>
    </section>
</section><!--文化end-->
<section class="Clean"></section>

<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="http://www.gdjlfood.com/#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="?c=about" id="NavAboutus" class="fl">首页</a>
            <a href="?c=news&type=2" id="NavNews" class="fl">关于厨匠</a>
            <a href="?c=video" id="NavMark" class="fl">最新资讯</a>
            <a href="?c=info" id="NavCat" class="fl">网上商店</a>
            <a href="?c=contact" id="NavBus" class="fr">产品展示</a>
            <a href="?c=news&type=3" id="NavMess" class="fr">人才招聘</a>
            <a href="?c=news&type=1" id="NavStaff" class="fr">大厨论坛</a>
            <a href="?c=job" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="http://www.gdjlfood.com/control/" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a>        </p>
    </article>
</footer>

</body></html>