<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="呵呵">
<meta name="description" content="哈哈">
<title>厨匠</title>
<link type="text/css" rel="stylesheet" href="../css/index.css">
<link type="text/css" rel="stylesheet" href="../css/Cleardefault.css">
<link type="text/css" rel="stylesheet" href="../css/slide.css">
<link type="text/css" rel="stylesheet" href="../css/Inside.css">
<script src="../js/CJSP.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/4.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="../login/login" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span></a></p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="../home" id="NavAboutus" class="fl"></a>
            <a href="../about/home" id="NavNews" class="fl"></a>
            <a href="../xinwen/home" id="NavMark" class="fl"></a>
            <a href="../shop/home" id="NavCat" class="fl"></a>

            <a href="../lianxi/home" id="NavBus" class="fr"></a>
            <a href="../comment/home" id="NavMess" class="fr"></a>
            <a href="../Job/home" id="NavStaff" class="fr"></a>
            <a href="../goods/home" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="../img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<div class="slide">
	<div class="bd" style="height: 401.262px;">
		<ul style="position: relative; width: 1466px; height: 402px;">
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				            	<img src="../img/banner1.jpg" width="100%">
                            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="" target="_blank">            	<img src="../img/banner1.jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px;">
				<a href="">            	<img src="../img/banner2 .jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="">            	<img src="../img/banner3.jpg" width="100%">
                </a>            </li>
        		</ul>
	</div>
	<div class="hd"><ul><li class="">1</li><li class="">2</li><li class="on">4</li><li>4</li></ul></div>
</div>
<script type="text/javascript">
//比例 * 高度
var h = ($(window).width() / 1920) * 564;
$(".slide .bd").css("height", h);
$(".slide .bd ul li").css("height", h);

jQuery(".slide").slide({
	titCell : ".hd ul",
	mainCell : ".bd ul",
	effect : "fold",
	autoPlay : true,
	autoPage : true,
	interTime : 5000
});
</script>
<!-- slide end -->
<section id="IndexCont01">
	<article class="Winth1200">
        <article class="ProductCont">
        	<nav id="InsideNav">
                        	<a href="home" >关于厨匠</a>
                        	<a href="Development"class="Hover" >公司发展史</a>
                        	
            </nav>
            <section id="ArticleCont" style="min-height:500px;">
                <span id="TitleDecorative">newstitle:</span>
                <h1 id="DetailsH">公司发展史</h1>
                <article id="ArticleDetailsTime">发布日期：<time pubdate="pubdate" datetime="2015-04-21">2015-04-21</time></article>
                <section id="DetailsContent">
                    <p>&nbsp; &nbsp; 往事如烟。那首不堪回首的悲歌，已永远成为历史。在改革开放的春风沐浴下，林平涛和妻子许巧婵得到了新的机遇。尤其是林平涛，从小就明白一个道理：只有掌握知识，才能改变命运。他边工作边学习很快得到县罐头厂领导的赏识，被选送到原汕头地区进修学习，经过多年的学习，掌握很多食品专业知识。在改革春风的吹动下，萌发创办企业之初衷。</p><p>&nbsp; &nbsp;&nbsp;艰辛的生活磨炼，造就了林平涛迎难而上的韧性。他与妻子一起，高举佳隆这面旗帜，重新站立起来。他们抓住荔枝大丰收的机遇，开始生产荔枝罐头，产品“一炮打响”走俏市场，企业开始赚钱了。他们内强素质，外拓销路不断开发新产品，使企业逐步发展壮大。</p><p>&nbsp; &nbsp;&nbsp;在艰难的成长、创业过程中，林平涛、许巧婵挺过来了。回首往昔，他们有许多人生感悟：认识到拼搏精神的重要，专业知识的重要，他们“跌倒了，擦干血迹继续前进”。林平涛：“一个人要成功就要磨练，要有许多经历，才能勇往直前”。他的人生体验就是：“跌倒后站起来就会腾飞”。所以他从来没有说过泄气话，“苦孩子不怕苦不怕难，60年代大饥荒饿不死，其它困难没有什么了不起！”林平涛是这样说的。</p><p>&nbsp; &nbsp;&nbsp;林平涛有一段耐人寻味的话：“运动场上的竞争，是动运员自身的体力、毅力、意志、智慧等的角逐。这个道理，同时也适应企业。商场如战场，而战场上是没有亚军可言的，有的是冠军。企业要成功，要能在激烈的市场竞争中站稳脚跟，就要像优秀的运动员那样，以拼搏的精神，在竞技场要充分发挥最好的技巧，才能击败对手，登上冠军的宝座。”从企业的谷底冲出来的林平涛和他所开创的佳隆公司，在尝到成功的甜头后，以清醒的头脑，超前的意识，校正了航标，向着那既充满荆棘又梦幻般的金光大道进发。经过通盘筹划和可行性论证，制订了企业长期发展的四个五年计划，使企业朝着方向正、目标明的道路前进。</p><p>&nbsp; &nbsp;&nbsp;四个五年计划的实施，目标一个个兑现，但林平涛先生、许巧婵女士，没有为成绩而骄傲，而是更多地思考，寻求更好的发展之路。他们明白：“企业是一头奶牛，要壮要多产奶，关键在于给它更多更嫩的草吃”。他们正在为寻找和创造一个个丰美的牧场，而继续辛劳着。因为，林平涛先生和许巧婵女士比谁都懂得“逆水行舟，不进则退”的道理。</p><p>俗话说：“创业难守业也难，发展更加困难。”按照佳隆公司目前的现状，无疑应在企业发展的经营谋略上狠下功夫，这些包括调整公司的经营思路，大力发展若干项主导产品，树立公司的市场品牌，摒弃无利润高风险的大包袱产品，积极开发终端消费产品等，切切实实、见竿立影地抓好几件大事。</p><p>&nbsp; &nbsp;&nbsp;第一是注重企业人才。</p><p>&nbsp; &nbsp;&nbsp;第二是要营造一支现代化的营销队伍。</p><p>&nbsp; &nbsp;&nbsp;第三是要抓现代化科技和质量管理。</p><p>&nbsp; &nbsp;&nbsp;第四是要弘扬企业精神，建设企业文化，增强员工对企业的凝聚力。</p><p>&nbsp; &nbsp;&nbsp;经过风霜雪雨的20多年洗礼，如今的佳隆公司，正以其强劲的实效，高效的运作，优质的产品，至诚的信誉，向着美好的未来冲刺。佳隆公司这列满载的“时代列车”，必将呼啸地飞驰在“早己提速”的万里铁道上……</p><p><br/></p>                </section>
            </section>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>


<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="../home" id="NavAboutus" class="fl">首页</a>
            <a href="../Abuout/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="../New/home" id="NavMark" class="fl">最新资讯</a>
            <a href="../Shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="../Goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="../Job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="../luntan/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="../lainxi/home" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="../login/guanliyuan" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a>        </p>
    </article>
</footer>

</body></html>