<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="呵呵">
    <meta name="description" content="哈哈">
    <title>厨匠</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link type="text/css" rel="stylesheet" href="/css/Cleardefault.css">
    <link type="text/css" rel="stylesheet" href="/css/slide.css">
    <link type="text/css" rel="stylesheet" href="/css/Inside.css">
    <script src="/js/CJSP.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/4.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="http://irm.p5w.net/ssgs/S002495/companySecret.html" style="color:#EEEEEE;" target="_blank"><img src="img/email.png" width="29" height="29"><span>企业信箱</span></a><a href="http://www.gdjlfood.com/?c=message" style="color:#EEEEEE;"><img src="img/tel.png" width="29" height="29"><span>
        	客户留言</span></a>
        </p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="?c=about" id="NavAboutus" class="fl"></a>
            <a href="?c=news&type=2" id="NavNews" class="fl"></a>
            <a href="?c=video" id="NavMark" class="fl"></a>
            <a href="?c=info" id="NavCat" class="fl"></a>

            <a href="?c=contact" id="NavBus" class="fr"></a>
            <a href="?c=news&type=4" id="NavMess" class="fr"></a>
            <a href="?c=news&type=1" id="NavStaff" class="fr"></a>
            <a href="?c=job" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="/img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<div class="slide">
    <div class="bd" style="height: 401.262px;">
        <ul style="position: relative; width: 1466px; height: 402px;">
            <li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
                <img src="/img/banner1.jpg" width="100%">
            </li>
            <li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
                <a href="http://jialonggufen.1688.com/" target="_blank">            	<img src="/img/banner1.jpg" width="100%">
                </a>            </li>
            <li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px;">
                <a href="http://jialong.yaxinw.com/?c=product&amp;a=show&amp;id=41" target="_blank">            	<img src="/img/banner2 .jpg" width="100%">
                </a>            </li>
            <li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
                <a href="http://jialong.yaxinw.com/?c=product&amp;a=show&amp;id=40" target="_blank">            	<img src="/img/banner3.jpg" width="100%">
                </a>            </li>
        </ul>
    </div>
    <div class="hd"><ul><li class="">1</li><li class="">2</li><li class="on">4</li><li>4</li></ul></div>
</div>
<script type="text/javascript">
  //比例 * 高度
  var h = ($(window).width() / 1920) * 564;
  $(".slide .bd").css("height", h);
  $(".slide .bd ul li").css("height", h);

  jQuery(".slide").slide({
    titCell : ".hd ul",
    mainCell : ".bd ul",
    effect : "fold",
    autoPlay : true,
    autoPage : true,
    interTime : 5000
  });
</script>
<!-- slide end -->
<section id="IndexCont01">
    <article class="Winth1200">
        <article class="ProductCont">
            <nav id="InsideNav" style="height: 142px;">
                <a href="Notice.html" >公司公告</a>
                <a href="News.html" class="Hover">公司新闻</a>
                <a href="Activity.html">微信活动</a>

            </nav>
            <section id="ArticleCont">
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路                   </p>
                </div>
                <div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路                   </p>
                </div><div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路                   </p>
                </div><div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路                   </p>
                </div><div class="NewsList">
                    <div class="Time">
                        <p class="Day">1</p>
                        <p class="Moon">4月</p>
                    </div>
                    <a href="#" target="_blank" class="Title">总经理创业去啦！：2017年度分公司成立情况</a>
                    <p class="Cont">
                        厨匠集团：20地分公司同时成立，20名总经理开始集体创业之路                   </p>
                </div>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>

<footer id="IndexFooter" style="height:400px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-8417867</p>
            <p id="XiaoshouTel">14740622014</p>
            <a href="http://www.gdjlfood.com/#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <a href="http://jialonggufen.1688.com/" target="_blank">厨匠阿里巴巴店</a>
        <a href="http://jialong.yhd.com/" target="_blank">厨匠一号店</a>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="http://www.gdjlfood.com/control/" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#FFFFFF;">川ICP备 14087144号-1</a>        </p>
        <div id="IndexWeibo"><a href="http://weibo.com/gdjialong" target="_blank"><img src="img/weibo.png" width="10" height="10"></a><br>厨匠官方微博</div>
        <div id="IndexWeixin"><img src="/img/weixin.jpg" width="10" height="10"><br>厨匠官方微信</div>
    </article>
</footer>

</body></html>