<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="shortcut icon" href="http://www.gdjlfood.com/WEB/images/favicon.ico" type="image/x-icon">-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="呵呵">
<meta name="description" content="哈哈">
<title>厨匠</title>
<link type="text/css" rel="stylesheet" href="../css/index.css">
<link type="text/css" rel="stylesheet" href="../css/Cleardefault.css">
<link type="text/css" rel="stylesheet" href="../css/slide.css">
<link type="text/css" rel="stylesheet" href="../css/Inside.css">
<script src="../js/CJSP.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]><script src="http://cdn.bootcss.com/html5shiv/4.7/html5shiv.js"></script><![endif]-->

</head>
<body>
<header id="IndexHeader">
    <address id="IndexTopAddress">
        <p id="Zhengquan">证券名称：<strong>厨匠集团</strong>&nbsp;股票代码：<strong>00001</strong></p>
        <p id="ContactUs">
            <a href="../login/home" style="color:#EEEEEE;" target="_blank"><span>登录/注册</span></a></p>
    </address>
    <nav id="IndexTopNav">
        <article>
            <!--        	 	<a href="?c=index" id="NavHome" class="fl"></a>-->
            <a href="../home" id="NavAboutus" class="fl"></a>
            <a href="../about/home" id="NavNews" class="fl"></a>
            <a href="../xinwen/home" id="NavMark" class="fl"></a>
            <a href="../shop/home" id="NavCat" class="fl"></a>

            <a href="../lianxi/home" id="NavBus" class="fr"></a>
            <a href="../comment/home" id="NavMess" class="fr"></a>
            <a href="../Job/home" id="NavStaff" class="fr"></a>
            <a href="../goods/home" id="NavCul" class="fr"></a>
            <!--<a href="?c=product" id="NavBrand" class="fr"></a>-->

            <a id="NavLogo"><img src="../img/logo.png" width="100%"></a>
        </article>
    </nav>
</header>
<!-- slide start -->
<div class="slide">
	<div class="bd" style="height: 401.262px;">
		<ul style="position: relative; width: 1466px; height: 402px;">
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				            	<img src="../img/banner1.jpg" width="100%">
                            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="" target="_blank">            	<img src="../img/banner1.jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px;">
				<a href="">            	<img src="../img/banner2 .jpg" width="100%">
                </a>            </li>
        			<li style="height: 401.262px; position: absolute; width: 1466px; left: 0px; top: 0px; display: none;">
				<a href="">            	<img src="../img/banner3.jpg" width="100%">
                </a>            </li>
        		</ul>
	</div>
	<div class="hd"><ul><li class="">1</li><li class="">2</li><li class="on">4</li><li>4</li></ul></div>
</div>
<script type="text/javascript">
//比例 * 高度
var h = ($(window).width() / 1920) * 564;
$(".slide .bd").css("height", h);
$(".slide .bd ul li").css("height", h);

jQuery(".slide").slide({
	titCell : ".hd ul",
	mainCell : ".bd ul",
	effect : "fold",
	autoPlay : true,
	autoPage : true,
	interTime : 5000
});
</script>
<!-- slide end -->
<section id="IndexCont01">
	<article class="Winth1200">
		<article id="ProductTitle">
        	&nbsp;
        </article>
        <article class="ProductCont" style="min-height:500px;">
        	<nav id="InsideNav">
			                <a href="home" class="Hover">调味系列</a>
                            <a href="Watercress" >豆瓣系列</a>
                            <a href="Miscellaneous" >干杂系列</a>
                       </nav>
                      
                        <a href="#" class="ProductList">
            	<img src="../img/timg.jpg" width="206" height="206">
                <span>莎麦鸡精	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14元</span>
            </a>
                        <a href="#" class="ProductList">
            	<img src="../img/timg.jpg" width="206" height="206">
                <span>莎麦鸡精&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14元</span>
            </a>
                        <a href="#" class="ProductList">
            	<img src="../img/timg.jpg" width="206" height="206">
                <span>莎麦鸡精&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14元</span>
            </a>
                        <a href="#" class="ProductList">
            	<img src="../img/timg.jpg" width="206" height="206">
                <span>莎麦鸡精&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14元</span>
            </a>
                        <article class="Clean"></article>
            <article id="Page">
            	<a href="javascript:void(0)" class="PageBack">&nbsp;</a><a class="Onfocus">1</a><a href="javascript:void(0)" class="PageNext">&nbsp;</a>            </article>
        </article>
    </article>
</section><!--内容第一屏end-->
<section class="Clean"></section>

<footer id="IndexFooter" style="height:300px;">
    <address>
        <div class="Winth1200">
            <p id="FooterAdd">四川省 成都市 国际商贸城5区10057号</p>
            <p id="RenshiTel">028-83117867</p>
            <p id="XiaoshouTel">13730622014</p>
            <a href="#" id="FooterBackTop"></a>
        </div>
    </address>
    <nav id="FooterNav">
        <article>
            <a href="../home" id="NavAboutus" class="fl">首页</a>
            <a href="../about/home" id="NavNews" class="fl">关于厨匠</a>
            <a href="../xinwen/home" id="NavMark" class="fl">最新资讯</a>
            <a href="../shop/home" id="NavCat" class="fl">网上商店</a>

            <a href="../goods/home" id="NavBus" class="fr">产品展示</a>
            <a href="../Job/home" id="NavMess" class="fr">人才招聘</a>
            <a href="../comment/home" id="NavStaff" class="fr">大厨论坛</a>
            <a href="../lianxi/home" id="NavCul" class="fr">联系我们</a>
        </article>
    </nav>
    <article id="IndexCopyRight">
        <p id="CopyRightCh">
            CopyRight © 2017 四川厨匠股份有限公司 版权所有
            <a style="color:#FFFFFF;" href="../login/guanliyuan" target="_blank">后台管理</a>
        </p>
        <p id="CopyRightNum">
            <a href="" target="_blank" style="color:#FFFFFF;">川ICP备 14087133号-1</a>        </p>
    </article>
</footer>

</body></html>